<div id="carouselComment" class="carousel slide" style="height: 300px;">
  <div class="carousel-inner h-100 px-0 px-md-2 px-lg-4">
    {% for comment in comments %}
      <div class="h-100 w-100 px-0 px-md-5 carousel-item {% if loop.index == 1 %}active{% endif %}">
        <div class="d-flex h-100 align-items-center">
          <div class="bg-white bg-opacity-75 px-3 px-md-5 py-3 mx-5 rounded mx-2 h-auto">
            <p class="fst-italic">"{{ comment.content }}"</p>
            <p class="text-end text-capitalize fs-4 handwrite">{{ comment.userName }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselComment" data-bs-slide="prev">
      <span class="w-auto" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 -960 960 960" width="50">
          <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
        </svg>
      </span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselComment" data-bs-slide="next">
      <span class="w-auto" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 -960 960 960" width="50">
          <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
        </svg>
      </span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
