<div class="d-flex p-1 justify-content-between align-items-center my-2 border border-secondary" style="height: 100px;">
  <div class="text d-flex align-items-center h-100 w-auto">
    <h3 class="me-4">{{ gift.name }}</h3>
    {% for image in gift.Images %}
      <img class="object-fit-contain h-100 md-md-0 col-md-6" src="{{ asset('uploads/gifts/' ~ image.fileName) }}" alt="photo de {{ gift.name }}" />
    {% endfor %}
  </div>

  <button type="button" id="{{ gift.id }}" class="remove-gift btn btn-danger">Supprimer de ma lettre</button>
</div>
