<nav class="col-12 col-md-auto fw-bold collapse navbar-collapse" id="navbarNav" aria-label="navigation menu">
  <ul class="navbar-nav d-flex-md justify-content-start ps-0">
    <li class="nav-item">
      <a role="link" aria-roledescription="link" href="{{ path('app_home') }}" class="nav-link mx-1 py-2 px-4 text-capitalize text-end text-lg-start
        {% if app.request.attributes.get('_route') is same as('app_home') %} text-secondary {% else %} text-primary {% endif %}">Accueil
      </a>
    </li>
    <li class="nav-item">
      <a role="link" aria-roledescription="link" href="{{ path('app_gift') }}" class="nav-link mx-1 py-2 px-4 text-capitalize text-end text-lg-start
        {% if app.request.attributes.get('_route') is same as('app_gift') or app.request.attributes.get('_route') is same as('app_gift_detail') %} text-secondary {% else %} text-primary {% endif %}">Salle aux Cadeaux
      </a>
    </li>
    <li class="nav-item">
      <a role="link" aria-roledescription="link" href="{{ path('app_letter') }}" class="nav-link mx-1 py-2 px-4 text-capitalize text-end text-lg-start
        {% if app.request.attributes.get('_route') is same as('app_letter') %} text-secondary {% else %} text-primary {% endif %}">Lettre au Père Noël
      </a>
    </li>
    <li class="nav-item">
      <a role="link" aria-roledescription="link" href="{{ path('app_contact') }}" class="nav-link mx-1 py-2 px-4 text-capitalize text-end text-lg-start
        {% if app.request.attributes.get('_route') is same as('app_contact') %} text-secondary {% else %} text-primary {% endif %}">Contact
      </a>
    </li>
  </ul>
</nav>