<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    <header class="bg-white p-3 navbar navbar-expand-lg navbar-light">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center w-100">
          <a href="{{ path('app_home') }}" class="d-inline-flex w-100" title="Retour vers la page Accueil" aria-label="Accueil">
            <img src="{{ asset('assets/images/logo.png') }}" class="h-auto m-2" alt="logo du village du Père Noël" title="logo du village du Père Noël" />
            <h1 class="text-dark m-0 fs-4">Le Village du <br /> <span class="fs-3 fw-bold text-secondary">Père Noël</span></h1>
          </a>
          <button class="navbar-toggler border-0 d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span></button>
          </div>
          {% include '/_partials/_navbar.html.twig' %}
      </div>
    </header>
    <main>
      {% include '_partials/_addflash.html.twig' %}
      {% block main %}

      {% endblock %}
    </main>
    <footer class="bg-white p-3">
      <div class="container">
        <div class="row">
          <p>Ce site a été développé par</p>
          <ul>
            <li>
              <a title="lien vers le GitHub de BICHON Christopher" aria-label="lien vers le GitHub de BICHON Christopher" href="#">BICHON Christopher</a>
            </li>
            <li>
              <a title="lien vers le GitHub de Nathalia" aria-label="lien vers le GitHub de Nathalia" href="#">Nathalia</a>
            </li>
            <li>
              <a title="lien vers le GitHub de DEGERMANN Julien" aria-label="lien vers le GitHub de DEGERMANN Julien" href="#">DEGERMANN Julien</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
