<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    <header class="bg-white p-3 navbar navbar-expand-lg navbar-light">
      <div class="container">
        <div class="d-flex justify-content-between w-100">
          <a href="{{ path('app_home') }}" class="d-inline-flex w-100" title="Retour vers la page Accueil" aria-label="Accueil">
            <img src="{{ asset('assets/images/logo.png') }}" class="h-auto m-2" alt="logo du village du Père Noël" title="logo du village du Père Noël" />
            <h1 class="text-dark fs-4">Le Village du <br /> <span class="fs-3 fw-bold text-secondary">Père Noël</span></h1>
          </a>
          {% include "/_partials/_navbar.html.twig" %}

        </div>
      </div>
    </header>
    <main>
      cpicpi{% block main %}

      {% endblock %}
    </main>
    <p class="text-primary">text primary</p>
    <p class="text-secondary">text secondary</p>
    <p class="text-gold">text secondary</p>
    <footer class="bg-white p-3">
      <div class="container">
        <div class="row">
          <p>Ce site a été développé par</p>
          <ul>
            <li>
              <a title="lien vers le GitHub de BICHON Christopher" aria-label="lien vers le GitHub de BICHON Christopher" href="#">BICHON Christopher</a>
            </li>
            <li>
              <a title="lien vers le GitHub de Nathalia" aria-label="lien vers le GitHub de Nathalia" href="#">Nathalia</a>
            </li>
            <li>
              <a title="lien vers le GitHub de DEGERMANN Julien" aria-label="lien vers le GitHub de DEGERMANN Julien" href="#">DEGERMANN Julien</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
